--seed 328774850
--compiler ./txt2c.sh
--program gcd.c
--pos-tests 5
--neg-tests 1
--search ga
--rep string
--popsize 100
--generations 3
--label-repair
--rep string
--suffix-extension .c
--fault-scheme uniform
--fix-scheme uniform
--compiler-command __COMPILER_NAME__ -o __EXE_NAME__ __SOURCE_NAME__ __COMPILER_OPTIONS__ 1>/dev/null 2>/dev/null
