## OCaml compiled files
*.cmi
*.cmx
*.d
*.o
*.a
*.cma
*.cmo
*.cmxa
*.mli
*.cma
*.cmo
*.so
*.mli

## Compiled executables
repair
repair-elf

## Compiled shared library
dll_wrap_stubs.so
lib_wrap_stubs.a
