## OCaml compiled files
*.cmi
*.cmx
*.d
*.o
*.a
*.cma
*.cmo
*.cmxa
*.mli
*.cma
*.cmo

## Compiled executable files
repair
repair-elf

## Compiled shared library
libelf.so
dll_wrap_stubs.so
lib_wrap_stubs.a
